extends layout

block content
  a(href='/')
    h1(id="title") Advice
  h3 Please enter a subject for advice:
  div(id="advice-form")
    form(
      method="post",
      action="/search"
    )
      input(
        type="text"
        name="subject"
      )
      input(
        type="submit"
      )
  
    if advice
      div(id="advice-response")
        h2 #{advice}

  div(id="magic8ball")
    h3 Or keep the subject to yourself and let the Magic 8 Ball decide!
    a(href='/magic8ball')
      img(src="https://www.horoscope.com/images-US/games/game-magic-8-ball-no-text.png")
    if magicResponse
      div
        h2= magicResponse
