extends layout

block content
  h1 Advice
  h4 Please enter a subject for advice:
  form(
    method="post",
    action="/search"
  )
    input(
      type="text"
      name="subject"
    )
    input(
      type="submit"
    )

  if advice
    h4 Advice:
    p= advice.advice
