extends layout

block content
  h1= title
  h4 Please enter a subject for advice:
  form(
    method="post",
    action="/search"
  )
    input(
      type="text"
      name="subject"
    )
    input(
      type="submit"
    )
